@font-face {
    font-family: Mulish;
    src: url(../Assests/Mulish-VariableFont_wght.ttf);
}
*{
    font-family: Mulish;
    /* letter-spacing: 1.5px; */
    /* font-style:oblique; */
}
@media screen and (max-width: 600px) {
    *{
      font-size: small;
    }
  }
.slick-next:before, .slick-prev:before {
    font-size: 50px;
    line-height: 1;
    opacity: .75;
    color: black;
}
.slick-next:before{
    content: "»";
}
.slick-prev:before{
    content: "«";
}
@media screen and (max-width: 600px) {
    .slick-next:before, .slick-prev:before{
        visibility: hidden;
    }
    .grev img {
        width: 0px;
    }
    .grev card{
        width: 0px;
    }
    
}

.top{
    /* background-image: linear-gradient(to top,rgba(0, 0, 0, 0.884), rgba(0, 0, 0, 0.753) ); */
    background-color: #417c28;
}
.navbar-light .navbar-nav .nav-link {
    color: white;
}
.nav-link{
    color: white;
}
.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 30 30%27%3e%3cpath stroke=%27rgba%280, 0, 0, 0.55%29%27 stroke-linecap=%27round%27 stroke-miterlimit=%2710%27 stroke-width=%272%27 d=%27M4 7h22M4 15h22M4 23h22%27/%3e%3c/svg%3e");
}

.vid{
    background-color: #417c28;
    height: fit-content;
    /* margin-top: -2.5%; */
    color: aliceblue;
    text-align: left;
}
.vid section{
    max-width: 1380px;
    margin: auto;
    display: flex ;
    flex-wrap: wrap;
}
.vid section h2{
    padding: 1% 0px;
    width: 50%;
    min-width: 370px;
}




.nav-link{
    font-weight: bold;
    margin: 0px 10px;
    font-size: 20px;
    /* background-color: aqua; */
}





.test{
    text-align: left;
    margin: 2% auto;
    /* background-color: blueviolet; */
}
.test h2{
    padding: 1% 0px;
    font-weight: bolder;
    font-size: 3rem;
    color: #417c28;
    margin: 2% 0px;
    border-bottom: 2px #417c28 solid  ;
}
.test section{
    max-width: 1400px;
    margin: auto;
}
.test card{
    display: block;
    /* border: 2px solid violet; */
    /* background-color: aquamarine; */
    /* min-width: 380px; */
    padding: 1%;
}




.blog-cont{
    max-width: 1400px;
    margin: auto;
    border-bottom: 2px #417c28 solid  ;
    padding: 1% 0px;
    font-weight: bolder;
    font-size: 3rem;
    color: #417c28;
}
.blog{
    max-width: 1400px;
    padding: 1% 0px;
    margin: auto;
    display:flex;
    flex-wrap: wrap;
}
.blog section{
    width: 50%;
    padding: 10px;
    /* border: 2px saddlebrown solid; */
    min-width: 390px;
    align-items: center;
}
.blog figure{
	margin: 0;
	padding: 0;
    border-radius: 20px;
	/* background: #fff; */
	overflow: hidden;
}
.blog img{
    /* box-shadow: 2px 1px 10px 0px grey; */
	transition: .3s ease-in-out;
}
.blog img:hover{
    cursor: pointer;
    /* box-shadow: 1px 1px 10px 1px grey; */
	transform: scale(5.5);
}
.cot{
    max-width: 1400px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}
.cot section{
    padding: 10px;
    width: 50%;
    min-width: 350px;
    /* border: 2px saddlebrown solid; */
}
.cot img{
    /* box-shadow: 2px 1px 10px 0px grey; */
    border-radius: 20px;
	transition: .3s ease-in-out;
}


.utube{
    background-color: bisque;
    text-align: center;
    min-height: 280px;
    padding:0px 0px 2% 0px;
}
.utube h2{
    text-align: left;
    background-color: rgba(212, 138, 47, 0.74);
    display: block;
    padding: 0px 20px;
    border-radius:0px 0px 20px 20px;
    width: fit-content;
}
.utube button{
    background-color: #417c28;
    position:fixed;
    /* left: 10%; */
    /* display: none; */
    width: 0px;
    font-size: 100px;
}



.feat{
    /* background-color: black;  */
    margin: auto;
    padding: 1% 0px;

}
.feat h2{
    max-width: 1400px;
    color: #417c28;
    margin: auto;
    border-bottom: 2px #417c28 solid  ;
    padding: 1% 0px;
    font-weight: bolder;
    font-size: 3rem;
    /* margin: 2% 0px; */
}
.feat a{
    margin: 10% 10%;
}
.feat button{
    background-color: #417c28;
    position:fixed;
    /* left: 10%; */
    /* display: none; */
    width: 0px;
    font-size: 100px;
}
/* .feat.slick-dots, .slick-next, .slick-prev {
    position: relative;
    display: block;
    padding: 0;
}
 */





 .grev{
    max-width: 1400px;
    margin: 2% auto;
}
.grev div{
    display: flex;
    justify-content: space-evenly;
}
.grev card{
    margin: 2% ;    
    text-align: center;
    padding: 1% 0px;
    display: block;
    box-shadow: 1px 1px 8px 1px grey;
    max-width: 18rem;
    /* background-color: #417c28; */
    /* border: brown    2px solid;     */
}
.grev section{
    width: 50%;
}
.grev rev{
    margin: 30px 20px;
    padding: 5%;
    box-shadow: 1px 1px 8px 1px grey;
}
.grev h1{
    padding: 1% 0px;
    font-weight: bolder;
    font-size: 3rem;
    color: #417c28;
    margin: 2% auto ;
    border-bottom: 2px #417c28 solid  ;
}
