@font-face {
    font-family: Mulish;
    src: url(./Assests/Mulish-VariableFont_wght.ttf);
}
*{
    font-family: Mulish;
    /* letter-spacing: 1.5px; */
    /* font-style:oblique; */
}

.bgcol{
    /* background-color: #ffe4c4; */
    /* background-image: linear-gradient(to right, #373b3c,#a88661) */
}

.ig {
    display: flex;
    flex-wrap: wrap;

}
.react-calendar__tile--active:enabled:hover, .react-calendar__tile--active:enabled:focus {
    background: green;
}

.gal {
    margin: auto;
}
.gal section{
    display: inline;
    position: relative;
}   
.gal img {
    padding: 5px;
    position: relative;
    transition: 0.5s ;
    border-radius: 4%;
    /* opacity: 0.85; */
    /* background-color: black; */
}
.gal section span{
    position: absolute;
    background-color: yellow;
    top: 50%;
    visibility: hidden;
    left: 50%;
}
.gal img:hover {
    transform: scale(1.02);
    opacity: 1;
    cursor: pointer;
}

.resbgimg{
    padding: 2%;
    /* color: aliceblue; */
    background-image: linear-gradient(to right, #373b3c,#a88661)
}
.resbgimg h1 {
    /* border-bottom: #417c28 solid 3px; */
    max-width: 1400px;
    margin: auto;
    padding: 1%;
}
label{
    color: white;
}
.reserv {
    display: flex;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    max-width: 1400px;
    flex-wrap: wrap;
    justify-content: space-around;
    /* background-color: aqua; */
}
.reserv button:hover {
    box-shadow: 0px 7px 10px 0px green;
}

.cal {
    /* background-color: aqua; */
    width: 350px;
    text-align: center;
}

.cal p {
    font-size: larger;
    /* border: solid 2px black; */
    /* background-color: yellowgreen; */
}

.exactcal {
    padding: 10px;
}

/* .react-calendar__tile--active:enabled:hover, .react-calendar__tile--active:enabled:focus {
    background: green;
}.react-calendar__tile--active {
    background: green;
    color: white;
} */

.calbut {
    text-decoration: none;
    /* border-top: none; */
    /* border-left: 1px solid black; */
    /* border-bottom: 1px solid black; */
    background-color: yellowgreen;
    padding: 10px;
    border-radius: 5%;
    font-size: larger;
    font-weight: bold;
    margin: 20px 0px;
}

.calbut:active {
    background-color: transparent;
}

.user {
    width: 400px;
    line-height: 40px;
    /* background-color: aqua; */
    padding: 0px 2%;
}

.user button {
    background-color: yellowgreen;
    padding: 0px 15px;
    font-size: large;
    font-weight: bold;
    margin: 20px 0px;
    border-radius: 5%;

}
.user span{
    padding: 0px 20px;
}
.user a{
    padding: 0px 10px;
    background-color: yellowgreen;
    color: black;
    border: #373b3c solid 2px;
}
.user a:hover{
    cursor: pointer;
    box-shadow: 0px 7px 10px 0px green;

}

.about{
    background-image: url(./Assests/Gall/sunset.jpg);
    color: aliceblue;
    /* background-color: aqua; */
    padding: 5% 0px;
}

.user button:active {
    background-color: transparent;
}


.cal .react-calendar__tile--active:enabled:hover, .react-calendar__tile--active:enabled:focus {
    background: yellowgreen;
}
.cal .react-calendar__tile--active {
    background: yellowgreen;
    color: white;
}


.bgimg{
    background-image: url(./Assests/Gall/sunset.jpg);
}
.amen{
    /* background-color: black; */
    color: aliceblue;
    text-align: center;
    z-index: -20;
}
.amen h1{
    text-align: center;
    color: aliceblue;
    font-weight: 600;
    padding: 2%;
}
.amen a{
    color: inherit;
}
.amen div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1400px;
    margin:auto;
    padding: 1%;
    font-size: 80px;
    color:#417c28;
}
.amen p{
    font-size: 20px;
}
.amen div a{
    margin: 0px 10px;
    border-radius: 10%;
    background-color: beige;
    padding: 1% 5%;
    /* border: 2px solid saddlebrown; */
}
.amen div a:hover{
    /* margin: 0px 4% ;  */
    box-shadow: 1px 1px 10px 1px yellow ;
    background-color: yellowgreen;
    cursor: pointer;
}
.amen h4{
    max-width: 1400px;
    margin: auto;
}
.amen img {
    padding-top: 20px;
    /* border-radius: 5%; */
}
.cal.react-calendar__navigation button:disabled {
    background-color: yellowgreen;
}
.locat{
    width: 75%;
    min-width: 390px;
    margin: 2% auto 0px auto;
}


.contact{
    background-image: linear-gradient(to right, #373b3c,#a88661)
}
.contact section{
    max-width: 1400px;
    margin: auto;
    text-align: center;
    padding: 3% 0px; 
    color: aliceblue;
}
.contact h1{
    font-stretch:extra-expanded;
    margin: 2%;
    font-weight: 600;
}
.contact h4{
    margin: 3%;
}
.contact button{
    font-size: larger;
    font-weight: 600;
    box-shadow: none;
    text-decoration: none;
    border-color: #417c28;
    border-width: 2px;
    border-radius: 50px;
    padding: 12px 38px ;
    color:#417c28;
    border: none;
    background-color: beige;
}
.contact button:hover{
    box-shadow: 1px 1px 10px 1px yellow ;
    background-color:yellowgreen;
    cursor: pointer;
}

.form{
    max-width: 1400px ;
    font-size: 16px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}
.form section{
    width: 50%;
    min-width: 390px;
}
.form label{
    width: 100%;
    /* height: 35px; */
    /* padding: 7px; */
    /* outline: none; */
    /* border-radius: 5px; */
    margin-top: 1rem;

}
.form textarea{
    /* max-width: 100%; */
    /* min-width: 100%; */
    /* width: 100%; */
    /* max-height: 100px; */
    /* min-height: 100px; */
    padding: 7px;
    outline: none;
    border-radius: 5px;
    border: 1px solid rgb(220, 220, 220);

}
.form span{
    font-size: 50px;
    margin: 0px 2%;
}
.form  input {
    /* width: 100%; */
    height: 35px;
    padding: 7px;
    outline: none;
    border-radius: 5px;
    border: 1px solid rgb(220, 220, 220);
}
.call{
    display: flex;
    justify-content:left;
    flex-wrap: wrap;
}
.call section{
    width: 50%;
    min-width: 150px;
    /* border: saddlebrown 2px solid; */
}
.call ol{
    font-size: larger;
    margin: 5%;
}